body {
    width: 95vw;
    padding-left: 2.5vw;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4 {
    color: #008000;
}

.reveal h1,
.reveal h2 {
    margin-top: 0.5em;
}

section>div{
    width: 90%;
}

.inline {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    text-align: center;
    padding-left: 25vw;
}

.inline img {
    vertical-align: sub;
    display: inline;
}

.center {
    text-align: center!important;
}

.right {
    text-align: right!important;
}

.left {
    text-align: left!important;
}

.p-2 {
    padding: 2rem!important;
}

.pl-2 {
    padding-left: 2rem!important;
}

.pr-2 {
    padding-right: 2rem!important;
}

.pt-2 {
    padding-top: 2rem!important;
}

.pb-2 {
    padding-bottom: 2rem!important;
}

.p-3 {
    padding: 3rem!important;
}

.pl-3 {
    padding-left: 3rem!important;
}

.pr-3 {
    padding-right: 3rem!important;
}

.pt-3 {
    padding-top: 3rem!important;
}

.pb-3 {
    padding-bottom: 3rem!important;
}

.pt-5 {
    padding-top: 5rem!important;
}

.pb-5 {
    padding-bottom: 5rem!important;
}

.pt-6 {
    padding-top: 6rem!important;
}

.pb-6 {
    padding-bottom: 6rem!important;
}

.reveal .small {
    line-height: 30px;
    font-size: 0.8em;
  }

.reveal .smallsmall {
    line-height: 20px;
    font-size: 0.5em;
}

.reveal ul.nobull li {
    list-style-type: none;
}

.reveal .superskip {
    margin-top: 4em;
}

.reveal .bigskip {
    margin-top: 2em;
}

.reveal .medskip {
    margin-top: 1.5em;
}

.reveal .smallskip {
    margin-top: 1em;
}

.reveal .xsmallskip {
    margin-top: 0.5em;
}

.reveal .imgleft {
    float: left;
}

.reveal .imgright {
    float: right;
}

.container-columns{
    display: flex;
}
.cols{
    flex: 1;
}

.image-content {
    width: 90vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content-medium {
    width: 90vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myImage img {
    background: transparent no-repeat center / contain;
    max-width: 100%;
    max-height: 85vh;
    display: block;
}

.myImageMedium img {
    background: transparent no-repeat center / contain;
    max-width: 100%;
    max-height: 75vh;
    display: block;
}

.myImageSmall img {
    background: transparent no-repeat center / contain;
    max-width: 100%;
      max-height: 65vh;
    display: block;
}

.rightImage {
    position: absolute;
    width: 50vw;
    top: 10vh;
    left: -7vw;
}

.firstImage {
    position: absolute;
    width: 60vw;
    top: 15vh;
    left: 1vw;
}

.secondImage {
    position: absolute;
    width: 60vw;
    top: 25vh;
    left: 15vh;
}

.thirdImage {
    position: absolute;
    width: 60vw;
    top: 30vh;
    left: 35vh;
}

.fourthImage {
    position: absolute;
    width: 60vw;
    top: 35vh;
    left: 50vh;
}

.fifthImage {
    position: absolute;
    width: 60vw;
    top: 45vh;
    left: 65vh;
}

.colleft {
    text-align: left;
    float: left;
    width:50%;
    z-index:-10;
}

.colright {
    float: right;
    text-align: right;
    z-index:-10;
    width:50%;
}

.footerpos {
    position: fixed;
    bottom: 2%;
    left: 40vw
}